@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html,
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'VT323', monospace;
	background: #345;
}
.ActiveBtn{
    background: rgb(51 68 85) !important;
    border: 1px dashed white !important;
    color: white !important;
}
.gridCanvas{
	position: absolute;
	left: 0;
	top: 0;
}
.gridCanvas.hiddenGrid{
	display: none;
}
:focus {
    outline: none;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0px;
}
