.Box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Input {
	display: flex;
	flex-direction: column;
}
.Input label {
	color: #fff;
	margin: 0;
	margin-bottom: 6px;
	font-size: 22px;
}
.Input input {
	font-family: 'VT323', monospace;
    height: 38px;
    width: 86px;
    border: 0;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 22px;
}
.ColorPicker{
    height: 38px;
    width: 86px;
    background: aqua;
    border-radius: 2px;
	cursor: pointer;
}