.box{
    position: relative;
    cursor: pointer;
    width: 140px;
    height: 40px;
    display: inline-block;
    margin-top: 16px;
}
.input{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    opacity: 0;
    cursor: pointer;
}
.box:hover button{
    background: transparent;
    color: white;
}